<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {{ function('wp_head') }}
</head>
<body>

 <h2> test </h2>
  <h1 class="bg-color-red">{{ title }}</h1>

  {% for post in posts %}
    <article>
      <h2>{{ post.title }}</h2>
      <div>{{ post.content }}</div>
    </article>
  {% endfor %}

  {{ function('wp_footer') }}
</body>
</html>
